# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data and Models
data/
*.db
*.index

# Uploaded and Static Content
uploaded_videos/
static/face_thumbnails/
static/thumbnails/
static/audio/

# OS and IDE
.vscode/
.idea/
.DS_Store
Thumbs.db